.agendamento-page {
    background-color: black;
}


.bg-right-section {
    background-color: black;
    position: relative;
    overflow: hidden;
}

.bg-right-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/agenda-bg.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.9; 
    transform: scaleX(-1);
    z-index: 1;
}


.content-overlay {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.form-control::placeholder {
    color: #666;
}

.form-control:focus {
    background-color: #222;
    color: white;
    border-color: #444;
    box-shadow: none;
}

.btn-primary {
  background-color: #c41e3a !important;
  border-color: #c41e3a !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #a01830 !important;
  border-color: #a01830 !important;
}